<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bwei.like.yunifang">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".navigation.LogoActivity" />
        <activity android:name=".navigation.Logo2Activity" />
        <activity android:name=".navigation.NavigationActivity" />
        <activity android:name=".activity.Login_Activity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".activity.Ad5WebView_Activity" />
        <activity android:name=".activity.Home_MoreActivity" />
        <activity android:name=".activity.Particulars_Activity" />
        <activity android:name=".activity.SelectAllActivity"></activity>
    </application>

</manifest>